body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ag-theme-balham .ag-cell-focus {
  border-color: #007bff; /* Cambia el color del borde al seleccionar una celda */
  box-shadow: 0 0 5px 0 #007bff; /* Añade una sombra alrededor de la celda seleccionada */
}